{% extends "users/base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}

    <div class="jumbotron">
        <h1 class="display-4">Welcome, {{user.first_name.title|default:'Guest'}}</h1>
        <p class="lead">
            This is Whatsapp Backup Segregator, Please Upload your image to test.
        </p>
        <hr class="my-4">




            <div class="container" id="third" style="display: none;">
                <div class="row">
                    <div class="col-6" ">
                        <h5>Profile</h5>
                        <img src="http://127.0.0.1:8000/media/profile_images/Pro_oliRBEs.jpg" />
                        
                    </div>
                    <div class="col-6">
                        <h5>ScreenShot</h5>
                        <img src="http://127.0.0.1:8000/media/profile_images/ss_h8E2wVQ.jpg" />

                    </div>
                </div>
            </div>
   


        </div>
        <button id="toggle" class="btn btn-primary btn-lg">Show Seperate Items</button>
        <!-- <button class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Sign in</button> -->

        <p class="lead">
            {% if user.is_authenticated %}
                <!-- <a class="btn btn-primary btn-lg" href="{% url 'logout' %}" role="button">Logout</a> -->
            {% else %}
                <!-- <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Sign in</a> -->
            {% endif %}
        </p>
    </div>


    {% if user_form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    
<script>
    const targetDiv = document.getElementById("third");
const btn = document.getElementById("toggle");
btn.onclick = function () {
  if (targetDiv.style.display !== "block") {
    targetDiv.style.display = "block";
  } else {
    targetDiv.style.display = "none";
  }
};
    </script>

{% endblock content %}